body {
  background-color: black;
  color: white
}

h1 {
  font-family: 'Lora', serif;
}

h2 {
  font-family: 'Lora', serif;
}


p {
  font-family: 'Lora', serif;
}

ul {
  font-family: 'Lora', serif;
}

img {
  border: 2px dashed white;
}

a {
  color: blue
}

a:hover {
  color: aqua;
}
